body {
  background: peachpuff;
}
* {
  border: 2px solid black;
}
.container {
  min-width: 100%;
  font-family: sans-serif;
  font-size: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: .5em;
  margin: none;
}
.container2 {
  width: 100%;
  min-height: 40vh;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5em;
  margin: none;
  border-style: none;
}
.a {
  background-color: lightskyblue;
  height: 20vh;
  width: 98%;
  flex-basis: 98%;
}
.b, .c, .d, .e, .f, .g {
  background-color: lightskyblue;
  width: 31%;
  height: 18vh;
  flex-basis: 31%;
}
.h {
  background-color: lightskyblue;
  height: 39vh;
  width: 97%;
  flex-basis: 98%;
}
@media screen and (min-device-width: 600px) {
  .a {
    height: 32vh;
    flex-basis: 97%;
  }
  .container2 {
    height: 66vh;
    width: 66%; 
    justify-content: space-around;
    margin: none;
    padding: none;
  }
  .b, .c, .d, .e, .f, .g {
    height: 31vh;
    flex-basis: 25%;
  }
  .h {
    align-self: center;
    height: 65vh;
    flex-basis: 30%;
  }
}