
body {
  background: blanchedalmond;
  font-size: 45px;
  margin: auto;
}
* {
  border: 1px solid darkgreen;
}
.container {
  width: 96%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
  border-style: none;
  margin: 1em;
  gap: 5px;
  padding-bottom: 5px;
}
.a {
  background-color: beige;
  height: 20vh;
  width: 96%;
}
.b {
  background-color: beige;
  height: 60vh;
  width: 96%;
}
.c {
  background-color: beige;
  height: 20vh;
  width: 96%;
}
@media screen and (min-device-width: 600px) {
  .a {
    height: 33vh;
    width: 97%;
  }
  .b {
    height: 33vh;
    width: 77%;
    flex-basis: 76%;
  }
  .c {
    flex-basis: 20%;
    width: 19%;
    height: 33vh;
    flex-grow: var(.b);
    }
  }